
@import url('https://cdn.jsdelivr.net/npm/harmonyos-sans@1.0.0/css/harmonyos-sans.css');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');



.main {
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    /* position: relative; */

    font-family: HarmonyOS Sans, PingFang TC, 
                -apple-system, BlinkMacSystemFont, segoe ui, 
                Roboto, Helvetica, Arial, Hiragino Sans GB, 
                WenQuanYi Micro Hei, sans-serif ;
    color: #fff;
}

.img {
    min-width: 958px;
    min-height: 950px;
    /* background-image: url("../images/mainBackground.png"); */
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
    font-family: Arial, sans-serif;
    /* padding: 50px; */
}

.imgBX{
    width: 155px;
    height: 50px;
    margin-bottom: 140px;
}

.img_chd{
    width: 100%;
    /* height: 100%; */
    padding: 50px;
    /* background-color:aqua; */
}

/* Реализованная П/У */
.realized{
    font-weight: 450;
    font-size: 35px;

    margin-bottom: 30px;
}

/* WIFUSDT Лонг 50X */
.tradeInfo {
    display: flex;
    gap: 30px;
    font-size: 43px;
    font-weight: bold;
    margin-bottom: 30px;
}

.moneyType {
    position: relative;
    padding-right: 30px;
    border-right: white 1px solid;
    
}

/* .moneyType::after {
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 2px;
    height: 100%;
    background-color: red;
} */

.position {
    color: #00ff88;
    padding-right: 30px;
    border-right: white 1px solid;
}

.shoulder {
    color: white;
}



/* Процент прибыли */
.profitPercent {
    /* font-size: 120px; */
    /* color: #ff0088; */
    font: 111px Rubik;
    margin-bottom: 30px;
}



/* Цена закрытия */
.price {
    font-size: 20px;
    color: #aaa;
    margin-bottom: 140px;
}

.price div{
    font-size: 32px;
}

.price span {
    font-weight: 400;
    color: white;
}

.footer{
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
    
}

/* Левая нижняя часть (иконка + имя + время) */
.footerLeft {
    display: flex;
    align-items: center;
    gap: 30px;
}

.icon {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: #fff 1px solid;
}


.name {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 30px;
}

.datetime {
    color: #aaa;
    font-size: 30px;
    font-weight: 100;
}

/* Правая нижняя часть (QR + реф.код) */
.footerRight {
    display: flex;
    align-items: center;
    text-align: end;
}

.ref {
    font-size: 36px;
    margin-bottom: 5px;
    color: #fff;
}

.qr {
    width: 100px;
    height: 100px;
    background-color: #ccc;
}

/* Правая половина (кнопка) */
.divButtons {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.ExitButton {
    display: block;
    width: 200px;
    height: 100px;
    font-size: 16px;
    background-color: #eee;
    border: 1px solid #ccc;
    cursor: pointer;
}


@media(max-width: 1180px) {
    .main{
        flex-direction: column;
        height: 150vh;
    }
    .ExitButton {
        width: 200px;
        height: 100px;
        font-size: 16px;
    }
}

